@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'TheWitchcer';
    src: url('./Thewitcher-jnOj.ttf');
}

:root.standard {
    --bg-color: #fff;
    --main-color: #000;
    --text-color: #000;
    --shadow: 0 0 20px 10px rgb(18, 74, 101, .3);
    --main-background: url('./images/bg-std.jpg') center no-repeat;
    --logo: url('./images/logo-std.png') center no-repeat;
    --logo-bg: rgba(0, 0, 0, 0.8);
    --form-hover: #c01720; 
    --btn-hover: #c01720;
    --thumb-pos: 0rem;
}

:root.hearts-of-stone {
    --bg-color: #fff;
    --main-color: #0b7aa4;
    --text-color: #000;
    --shadow: 0 0 20px 10px rgb(18, 74, 101, .3);
    --main-background: url('./images/bg-hos.jpg') center no-repeat;
    --logo: url('./images/logo-hos.png') center no-repeat;
    --logo-bg: rgba(19, 146, 187, 0.8);
    --btn-hover: #22a0ca;
    --thumb-pos: 5rem;
}

:root.blood-and-wine {
    --bg-color: #fff;
    --main-color: #981827;
    --text-color: #000;
    --shadow: 0 0 20px 10px rgb(114, 34, 43, .3);
    --main-background: url('./images/bg-baw.jpg') center no-repeat;
    --logo: url('./images/logo-baw.png') center no-repeat;
    --logo-bg: rgba(105, 24, 24, 0.8);
    --btn-hover: #b90a1e;
    --thumb-pos: 10rem;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: var(--main-background);
    background-size: cover;

    transition: background-image 0.3s ease-in-out;
}

.container {
    display: flex;

    width: 80vw;
    height: 80vh;
}

/* Cover ========================= */

.cover {
    position: relative;
    
    flex: 0 0 auto;
    max-width: 30vw;
    min-width: 20rem;
}

.cover__inner {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    
    padding: 1rem 2rem;
    
    text-align: center;

    background: var(--logo-bg);
    opacity: 0;

    transition: opacity 0.4s linear;
}

.cover:hover .cover__inner {
    opacity: 1;
}

.cover__logo {
    height: 6rem;

    background: var(--logo);
    background-size: contain;
}

/* slider ============================ */

.slider {    
    display: flex;
    height: 100%;

    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    overflow: scroll;

    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider__item {
    display: none;
    
    min-width: 100%;
    object-fit: cover;
}

/* Content ======================== */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__inner {
    padding: 3rem 0 3rem 3rem;

    max-height: 100%;
    
    color: var(--text-color);
    
    background: var(--bg-color);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

    box-shadow: var(--shadow);
}

.content__text {
    padding-right: 9rem;
    
    font-family: 'Metamorphous', cursive;
    font-size: 1.3rem;
    line-height: 1.5;
}

.content__header {
    font-family: 'TheWitchcer', sans-serif;
    font-size: 1.7rem;
    color: var(--main-color);

    transition: color .3s linear;
}

/* form =========================== */

.form {
    display: flex;
    flex-wrap: wrap;

    position: relative;
    
    padding: 1.6rem 8rem 1.6rem 0;
    row-gap: 1rem;
    column-gap: 4rem;
}


.form__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
}

.form__item span::after {
    position: absolute;
    right: -2.5rem;
    bottom: 0;
    z-index: 100;

    content: '';
    display: none;
    
    width: 2rem;
    height: 2rem;

    background: url('./images/invalid.png') center no-repeat;
    background-size: contain;
}

.label {
    font-family: 'TheWitchcer', sans-serif;
    font-size: 1.3rem;
    color: var(--main-color);

    transition: color .3s linear;
}

.input {
    padding: 0 1rem;
    width: 17rem;
    height: 2rem;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;

    border: 2px solid #000;
    border-radius: 0.3rem;

    outline: none;

    transition: border 0.3s ease-in-out;
}

.input::placeholder {
    font-family: 'Metamorphous', cursive;
    font-size: 1.2rem;
    color: #cacaca;
}

input:focus, input:hover {
    border-color: var(--form-hover, var(--main-color));
}

.input:invalid + span::after {
    display: block;
} 

.form__btn {
    margin-bottom: 1.5rem;
    padding: .7rem 4rem;

    font-family: 'TheWitchcer', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: capitalize;

    background: var(--main-color);
    border: none;
    border-radius: .5rem;

    cursor: pointer;

    transition: background 0.3s linear;
}

.form__btn:hover {
    background-color: var(--btn-hover);
}

.form__btn:active {
    background-color: var(--main-color);
}

/* footer ========================= */

.content__footer {
    font-family: 'Metamorphous', cursive;
    font-size: 1.1rem;
    color: var(--text-color);
}

.content__footer a:link {
    color: var(--main-color);
}

.content__footer a:visited {
    color: var(--btn-hover);
}

/* menu ========================== */

.menu {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;

    border: 4px solid #000;
    border-right: none;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    overflow: hidden;

    transform: translate3d(0, -50%, 0);
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;

    cursor: pointer;
}

.menu__icon {
    height: 4rem;
}

.menu__thumb {
    position: absolute;
    top: var(--thumb-pos);
    z-index: -1;

    height: 5rem;
    width: 100%;
    
    background: var(--main-color);

    transition: all 0.3s linear;
}

/* root ========================= */

.dettlaff {
    /* display: none; */

    position: absolute;
    top: -11.7vh;
    right: -42.5vh;
    z-index: -1;

    height: 30vh;

    opacity: 0;

    transform: rotateY(180deg);

    transition: opacity .3s linear;
}

:root.blood-and-wine .dettlaff {
    z-index: 1;
    opacity: 1;
}

:root.blood-and-wine .baw {
    display: block;
}

:root.hearts-of-stone .hos {
    display: block;
}

:root.standard .std {
    display: block;
}

:root.blood-and-wine .cover__logo,
:root.hearts-of-stone .cover__logo {
    height: 9rem;
}

/* media ======================== */

@media (max-width: 1570px) {
    .content__intro {
        display: none;
    }

    .dettlaff {
        top: -9.7vh;
        right: -35.5vh;

        height: 25vh;
    }
}

@media (max-width: 1024px) {
    .content__header {
        font-size: 1.5rem;
    }

    .label {
        font-size: 1.1rem;
    }
    
    .input {
        width: 13rem;
        height: 1.7rem;

        font-size: 1.1rem;
    }

    .input::placeholder {
        font-size: 0.9rem;
    }

    .form__item span::after {
        right: -2rem;

        width: 1.7rem;
        height: 1.7rem;
    }

    .form__btn {
        padding: 0.5rem 2.5rem;

        font-size: 1rem;

        border-radius: 0.3rem;
    }

    .content__footer {
        font-size: 0.8rem;
    }
}

@media (max-width: 767px) {
    .cover {
        display: none;
    }

    .content__inner {
        border-radius: 2rem;
    }
}

@media (max-width: 425px) { 

    .form {
        padding-right: 0;
    }

    .menu {
        display: none;
    }
}