@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'TheWitchcer';
    src: url('./Thewitcher-jnOj.ttf');
}

:root.standard {
    --bg-color: #fff;
    --main-color: #000;
    --text-color: #000;
    --shadow: 0 0 20px 10px rgb(18, 74, 101, .3);
    --main-background: url('./images/bg-stdv2.jpg') center no-repeat;
    --logo: url('./images/logo-std.png') center no-repeat;
    --logo-bg: rgba(0, 0, 0, 0.8);
    --form-hover: #c01720; 
    --btn-hover: #c01720;
}

:root.hearts-of-stone {
    --bg-color: #fff;
    --main-color: #0b7aa4;
    --text-color: #000;
    --shadow: 0 0 20px 10px rgb(18, 74, 101, .3);
    --main-background: url('./images/bg-hos.jpg') center no-repeat;
    --logo: url('./images/logo-hos.png') center no-repeat;
    --logo-bg: rgba(19, 146, 187, 0.8);
    --btn-hover: #22a0ca;
}

:root.blood-and-wine {
    --bg-color: #fff;
    --main-color: #981827;
    --text-color: #000;
    --shadow: 0 0 20px 10px rgb(114, 34, 43, .3);
    --main-background: url('./images/bg-baw.jpg') center no-repeat;
    --logo: url('./images/logo-baw.png') center no-repeat;
    --logo-bg: rgba(105, 24, 24, 0.8);
    --btn-hover: #b90a1e;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: var(--main-background);
    background-size: cover;
}

.container {
    display: flex;

    width: 80vw;
    height: 80vh;
}

/* Cover ========================= */

.cover {
    position: relative;
    
    flex: 0 0 auto;
    max-width: 30vw;
}

.cover__inner {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    
    padding: 1rem 2rem;
    
    text-align: center;

    background: var(--logo-bg);
    opacity: 0;

    transition: opacity 0.4s linear;
}

.cover:hover .cover__inner {
    opacity: 1;
}

.cover__logo {
    height: 6rem;

    background: var(--logo);
    background-size: contain;
}

/* slider ============================ */

.slider {
    display: flex;
    height: 100%;

    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    overflow: scroll;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider__item {
    display: none;
    
    min-width: 100%;
    object-fit: cover;
}

/* Content ======================== */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: max(0%, 3rem) 0;
}

.content__inner {
    padding: 3rem 3rem;
    height: 100%;
    
    color: var(--text-color);
    
    background: var(--bg-color);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

    box-shadow: var(--shadow);
}

.content__text {
    padding-right: 6rem;
    
    font-family: 'Metamorphous', cursive;
    font-size: 1.3rem;
    line-height: 1.5;
}

.content__header {
    font-family: 'TheWitchcer', sans-serif;
    font-size: 1.7rem;
    color: var(--main-color);
}

/* form ============================= */

.form {
    display: flex;
    flex-wrap: wrap;
    
    padding: 1.6rem 0;
    row-gap: 1rem;
    column-gap: 3rem;
}


.form__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    min-width: 40%;
}

.label {
    font-family: 'TheWitchcer', sans-serif;
    font-size: 1.3rem;
    color: var(--main-color);
}

.input {
    padding: 0 1rem;
    width: 17rem;
    height: 2rem;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;

    border: 2px solid #000;
    border-radius: 0.3rem;

    outline: none;

    transition: border 0.3s ease-in-out;
}

.input::placeholder {
    font-family: 'Metamorphous', cursive;
    font-size: 1.2rem;
    color: #cacaca;
}

input:focus, input:hover {
    border-color: var(--form-hover, var(--main-color));
}

.form__btn {
    margin-bottom: 1.5rem;
    padding: .7rem 4rem;

    font-family: 'TheWitchcer', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: capitalize;

    background: var(--main-color);
    border: none;
    border-radius: .5rem;

    cursor: pointer;

    transition: background 0.3s linear;
}

.form__btn:hover {
    background-color: var(--btn-hover);
}

.form__btn:active {
    background-color: var(--main-color);
}

/* footer ========================= */

.content__footer {
    font-family: 'Metamorphous', cursive;
    font-size: 1.1rem;
    color: var(--text-color);
}

.content__footer a:link {
    color: var(--main-color);
}

.content__footer a:visited {
    color: var(--btn-hover);
}

.dettlaff {
    position: absolute;
    top: -11.7vh;
    right: -42.5vh;
    z-index: 1;

    height: 30vh;

    opacity: 0;

    transform: rotateY(180deg);
}

:root.blood-and-wine .dettlaff {
    opacity: 1;
}

:root.blood-and-wine .baw {
    display: block;
}

:root.hearts-of-stone .hos {
    display: block;
}

:root.standard .std {
    display: block;
}

:root.blood-and-wine .cover__logo,
:root.hearts-of-stone .cover__logo {
    height: 9rem;
}